// Color variables
$pastel-red: #FF6961;
$pastel-blue: #00BBFF;
$text-color:rgb(96, 96, 96);
$background-color: #f4f4f4;


//Font sizes
$base-page-size: 16px;
$heading-size: 2rem;
$description-size: 1.5rem;

//Font styles
$header-font: typewriter;
$body-font: megeon;

//DOM
body {
  font-size: $base-page-size;
}

input {

  font-size: 1rem;
  position: relative;
  float: left;
  margin-left: 40%;
  border-radius: 5px;
  z-index: 3;
}

.input-cell {
  width: 20%;
}

.intro {
  background-image: url('../confectionary.png');
  width: 105%;
  margin-top: -10%;
  height: 1000px;
  background-repeat: repeat;
  font-family: typewriter;
  font-size: 2rem;
  z-index: 1;
}

#button1 {
  z-index: 3;
  margin-top: 6%;
  margin-left: 41%;
  color: $text-color;
  width: 150px;
  height: 50px;
  position: relative;
  float: left;
}

body {
  background-color: $background-color;
}


.column {
  width: 25%;
  height: 225px;
  margin-left: 5%;
  display: inline;
  margin-top: 5%;
  position: relative;
  float: left;
  font-family: Open Sans;
  color: $text-color;
  font-size: $base-page-size;
  // border: 2px solid $pastel-blue;
  // border-bottom: 1px solid $pastel-blue;
}

.column-head {
  width: 90%;
  color: $pastel-red;
  height: 50px;
  float: left;
  position: relative;
  // border: 2px solid $pastel-blue;
  font-family: $header-font;
  font-size: $heading-size;
  padding-top: 10%;
  padding-left: 10%;
  border-bottom: 1px solid $pastel-blue;

}

.column-text {
  margin-top: 10%;
  height: 100%;
  text-align: center;
  width: 100%;
  float: left;
  position: relative;

}

#pin {
  margin-top: -25%;
  margin-left: 15%;
}

#home {
  margin-top: -25%;
  margin-left: 15%;
}

#refresh {
  margin-top: -25%;
  margin-left: 15%;
}

.description {
  width: 40%;
  margin-bottom: 5%;
  height: 60px;
  text-align: center;
  color: $text-color;
  margin-left: 28%;
  font-family: Open Sans;
  font-size: $description-size;
  // border: 2px solid $pastel-blue;
  position: relative;
  float: left;

}

.content-wrapper {
    width: 100%;
    height: 230px;
    position: relative;
    margin-left: 2%;
    float: left;
    margin-bottom: 2%;
}


header {
  position: relative;
  height: 150px;
  margin-top: -5%;
  margin-left: -5%;
  z-index: 9999;
  width: 110%;
  background-image: url('../confectionary.png');
  border-bottom: 1px solid rgba(96, 96, 96, .05);
}

.share {
  float: left;
  position: relative;
}

.logo-wrapper {
padding-top: 4%;
padding-left: 2%;
}


.logo-wrapper-intro {
  padding-top: 20%;
  padding-left: 30%;

}

.package {
  margin-left: -2%;
  float: left;
  position: relative;
}

h1 {
  font-size: 3rem;
  font-family: typewriter;
  color: $text-color;
  margin-left: 5%;
  z-index: 2;
}

footer {
  padding-top: 30px;
  margin-top: 20%;
  font-style: typewriter;
  color: rgb(96, 96, 96);
  font-size: 14px;
  text-align: center;
  height: 80px;
  border-top: 1px solid rgba(96, 96, 96, .05);
  margin-left: -5%;
  position: relative;
  float: left;
  width: 110%;
  background-image: url('../confectionary.png');
}


.heart-icon {
  margin-left: -2%;
  position: relative;
  float: left;
}

.contact-wrapper {
  height: 300px;
  width: 100%;
  margin-top: 10%;
  float: left;
  color: $pastel-blue;
  font-family: Open Sans;
  position: relative;
}

.social-media-wrapper {
  width: 30%;
  height: 150px;
  position: relative;
  float: right;
  margin-left: 10%;
}

.loading {
  margin-top: 8%;
  margin-left: 50%;
}

.error {
  margin-left: -20%;
  margin-top: 5%;
  float: left;
  position: relative;
}

.success {
  margin-left: -20%;
  margin-top: 5%;
  float: left;
  position: relative;
}

.social-media-tab {
  width:20%;
  height: 50px;
  position: relative;
  padding-top: 10%;
  float: left;
  margin-left: 3%;
}

#form_send {
  color: $text-color;
  margin-left: 46%;
  font-family: Open Sans;

}

h2 {
  text-align: center;
  color: rgb(96, 96, 96);

}

@media (max-width: 400px) {
  .social-media-wrapper {
    display: block;
    margin-right: 190px;
    width: 20%;
    margin-bottom: 15px;
    height: 20px;

  }

  #form_send {
    color: $text-color;
    margin-left: 38%;
    font-family: Open Sans;

  }

  .social-media-tab {
    margin-left: 10px;
    display: block;
  }



  .input-cell {
    width: 40%;
    margin-left: 30%;
  }

  .logo-wrapper {
    margin-left: 15%;
  }

  .logo-wrapper-intro {
    font-size: $heading-size;
    margin-left: -15%;
    margin-top: 15%;
  }

  #button1 {
    margin-top: 30%;
    margin-left: -54%;
    font-family: Open Sans;

  }

  #home {
    margin-left: -15%;
    width: 100px;
    height: 100px;
  }

  #refresh {
    margin-left: -15%;
    width: 100px;
    height: 100px;

  }

  #pin {
    margin-left: -15%;
    width: 100px;
    height: 100px;

  }

  #facebook {
    width: 25px;
    height: 25px;
  }


  #twitter {
    width: 25px;
    height: 25px;
  }

  #google {
    width: 25px;
    height: 25px;
  }

  .column-head {
    padding-bottom: 10%;
  }

  .column {
    margin-top: 15%;
    font-size: 14px;

  }

  .description {
    margin-top: 5%;
    font-size: $base-page-size;

  }

  .heart-icon {
    height: 50px;
    width: 50px;
    margin-top: 2%;
  }

  .contact-wrapper {
    margin-top: 10%;
    font-family: Open Sans;
  }

  footer {
    margin-top: 40%;
    font-family: Open Sans;
  }

  .loading {
    float: left;
    position: relative;
    margin-left: -25%;
    margin-top: 10%;
  }

  .error {
    margin: 0 auto;
    margin-left: 10%;
  }

  .success {
    margin: 0 auto;
    margin-left: 10%;
  }

  header {
    height: 80px;
  }

  .share {
    font-size: $heading-size;
  }

  .package {
    font-size: $heading-size;
  }

}
